VITE_GITHUB_URL=https://github.com/printf83/report
VITE_SOURCE_LC=source
VITE_SOURCE_UC=SOURCE
VITE_DATA_1_URL=https://url/App_status
VITE_DATA_1_TITLE=Senarai Keputusan Tapisan
VITE_DATA_2_URL=https://url/Vett_application
VITE_DATA_2_TITLE=Senarai Permohonan Tapisan
VITE_DATA_3_URL=https://url/CSG/csg2
VITE_DATA_3_TITLE=Senarai Pengawal Terlatih
